*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.elementoCarro{
    border: 1px solid #242424;
    display: flex;
    color: black;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;

}
.imagenCarro{
    width: 10%;
}
.cantidadCarro{
    display: flex;
}
.cantidadCarroBoton{
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #242424;
    color: white;
}
.cantidadCarroNumero{
    padding: 5px;
}
