*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
header{
    background-image: url("https://st4.depositphotos.com/11169808/22933/i/450/depositphotos_229330324-stock-photo-tasty-pepperoni-pizza-cooking-ingredients.jpg");
    text-align: center;
    background-size: cover;
}
h1{
    padding-top: 50px;
}