*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.tiposDePizzas{
    height: 50%;
    border: solid 1px rgb(236, 209, 140);
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 15px;
}