*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
nav{
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    height: 15%;
    align-items: center;
    color: white;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-around
}
h4{
    margin: 5px;
}
.botonesLogin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 5px;
    margin-top: 2px;

}
.cadaBotonLogin, section p{
    background-color: black;
    border: solid 1px grey;
    border-radius: 5px;
    width: 90px;
    text-align: center;
    height: 30px;
    color: white;
}
.botonTotal{
    height: 30px;
    background-color: black;
    border: solid 1px rgb(89, 168, 213);
    color: rgb(89, 168, 213);
    border-radius: 5px;
    width: 160px ;
    margin-left: 5px;
}
section p{
    margin-right: 5px;
}