*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.unaPizza{
    border: solid 1px rgb(236, 209, 140);
    margin: 5px;
    padding: 15px;
}
.pizza-details-1{
    display: flex;
    justify-content: space-around;
    color: #242424;
    padding: 1%;
    align-items: center;
    text-transform: uppercase;
    
}
.img-pizza{
    width: 20%;
    border-radius: 5px;
}
.pizza-details-2{
    color: #242424;
    text-align: center;
}
